* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --first-color: #2e2f42;
  --second-color: #ffffff;
  --third-color: #e7e9fc;
  --fourth-color: #434455;
  --fifth-color: #4d5ae5;
  --sixth-color: #f4f4fd;
  --seventh-color: #404bbf;
  --eigth-color: #31d0aa;
  --ninth-color: #8e8f99;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--second-color);
  line-height: 1.5;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
}

.text-color-white {
  color: var(--second-color);
}

.main-heading {
  z-index: 99;
}
.header-text,
.footer-main-page {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.first-bc {
  background-color: var(--first-color);
}

.mw-1440 {
  width: 1440px;
}

.header {
  display: flex;
  align-items: center;
  padding: 24px 156px;
  background-color: var(--second-color);
  border-bottom: 1px solid var(--third-color);
}

.nav-bar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-list {
  display: flex;
  gap: 40px;
}

a:hover {
  color: var(--seventh-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header nav a {
  text-decoration: none;
  color: var(--first-color);
}

header nav a:hover {
  color: var(--seventh-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header nav a::after {
  content: '';
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background: var(--seventh-color);
  display: block;
  position: relative;
  opacity: 0;
  bottom: -20px;
  transition: all 0.2s;
  pointer-events: none;
}

a:hover::after {
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.header-text-first {
  color: var(--first-color);
  font-family: 'Raleway', sans-serif;
}

.header-text-second {
  color: var(--sixth-color);
  font-family: 'Raleway', sans-serif;
}

span {
  color: var(--fifth-color);
  font-family: 'Raleway', sans-serif;
}

img {
  width: 264px;
  border: none;
}

li {
  list-style-type: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero {
  background-image: linear-gradient(#2e2f42b2, #2e2f42b2),
    url('../people-office1.png');
}
.button-section-one {
  text-align: center;
  height: 600px;
}

.main-heading {
  margin-top: 188px;
  margin-left: 472px;
  margin-right: 472px;
  font-size: 56px;
}

.centered-heading {
  text-align: center;
}

.first-button {
  width: 169px;
  height: 56px;
  margin-bottom: 188px;
  background-color: var(--fifth-color);
  box-shadow: none;
  border-radius: 4px;
  border-style: none;
}

button:hover {
  background-color: var(--seventh-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--first-color);
}

p {
  color: var(--fourth-color);
}

.section2-list > li > h3 {
  margin: 8px;
  margin-left: 0;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 156px;
  list-style: none;
  flex-wrap: wrap;
}

.section2-list {
  display: flex;
  gap: 24px;
}

.section2-list-icons {
  display: flex;
  flex-direction: column;
  width: 264px;
  height: 112px;
  border: 1px solid var(--ninth-color);
  border-radius: 4px;
  background-color: var(--sixth-color);
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.section2-list-icons > svg {
  width: 64px;
  height: 64px;
}

.team-section {
  background-color: var(--sixth-color);
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
}

.team-section-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.team-section-list > li {
  height: 380px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  background-color: var(--second-color);
}
.link-icons {
  border-radius: 50%;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background-color: var(--fifth-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-icons:hover {
  background-color: var(--seventh-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon {
  width: 16px;
  height: 16px;
}

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-list > li {
  border-bottom: 1px solid var(--third-color);
  border-left: 1px solid var(--third-color);
  border-right: 1px solid var(--third-color);
}

.image-box {
  width: 360px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.image-box img {
  display: block;
  width: 100%;
  height: auto;
}

.image-box .hover-box {
  position: absolute;
  inset: 0;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--fifth-color);
  letter-spacing: 1px;
  transform: translateY(100%);
  transition: transform 250ms;
}

.image-box:hover .hover-box {
  transform: translateY(0);
  color: var(--sixth-color);
  padding: 32px 40px 32px;
}

.hover-box > p {
  color: var(--sixth-color);
}

.portfolio-card {
  width: 360px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio-card > h3,
.portfolio-card > p {
  padding-left: 16px;
}

footer {
  display: flex;
  align-items: center;
  min-height: 312px;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  color: var(--sixth-color);
  height: 122px;
  padding-left: 156px;
  gap: 120px;
}

.text-section {
  width: 264px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text-section > p,
.media-section > p {
  color: var(--sixth-color);
}

.media-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.media-section > p {
  font-weight: 500;
}

.social-links-icons {
  display: flex;
  gap: 16px;
}

.social-links-icons img {
  width: 24px;
  height: 24px;
}

.social-links-icons a:hover {
  background-color: var(--eigth-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
